/* Overall container styling */
.assigned-courses-container {
  margin: 20px;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #C2DBC6; /* Dark green background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #C2DBC6;
}

h1 {
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  font-size: 28px;
  color: #263339; /* Light green text */
  margin-bottom: 20px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #A4C6AC; /* Medium green */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
  padding: 15px;
  text-align: left;
  background-color: #263339; /* Dark green for header */
  color: #C2DBC6; /* Light green text */
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #0B0B0B;
}

td {
  padding: 15px;
  text-align: left;
  color: #263339; /* Dark green text */
  font-size: 14px;
  vertical-align: middle;
}

/* Zebra striping for rows */
tbody tr:nth-child(even) {
  background-color: #C2DBC6; /* Light green for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #A4C6AC; /* Medium green for odd rows */
}



/* Table border styling */
table, th, td {
  border: 1px solid #161716;
}


/* Adjust the table's corner radius */
table {
  border-radius: 10px;
  overflow: hidden;
}

/* Add spacing between rows in the table */
tbody tr td {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Title styling */
.view-instructor-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #C2DBC6;
  text-transform: capitalize;
  background-color: #263339;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
