/* Container styling */
.view-availability-container {
  margin: 20px;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #C2DBC6; /* Page background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #263339; /* Dark green text */
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
}

/* Filter container */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.filter-container label {
  font-size: 14px;
  color: #263339;
}

.filter-container input,
.filter-container select {
  padding: 10px;
  border: 1px solid #A4C6AC;
  border-radius: 5px;
  font-size: 14px;
  background-color: #FAFFFB; /* Light background */
  color: #236669;
  width: 100%;
}

.filter-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #236669; /* Dark green */
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filter-container button:hover {
  background-color: #A4C6AC;
  color: #236669;
  transform: translateY(-2px);
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #A4C6AC; /* Table background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  padding: 15px;
  text-align: left;
  background-color: #263339; /* Dark green header */
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: #236669;
}

tbody tr:nth-child(even) {
  background-color: #C2DBC6; /* Light green for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #A4C6AC; /* Medium green for odd rows */
}
tbody, td, tfoot, th, thead, tr{
  border-width: 2px;
}


