<div class="sidebar" [class.collapsed]="isCollapsed">
  <button class="collapse-btn" (click)="toggleSidebar()">
    <fa-icon [icon]="isCollapsed ? 'angle-right' : 'angle-left'"></fa-icon>
  </button>

  <ul>
    <li routerLink="./dashboard" routerLinkActive="active">
      <fa-icon icon="users"></fa-icon>
      <span *ngIf="!isCollapsed">Dashboard</span>
    </li>
    <li routerLink="./create-instructor" routerLinkActive="active">
      <fa-icon icon="user-plus"></fa-icon>
      <span *ngIf="!isCollapsed">Create Instructor</span>
    </li>
    <li routerLink="./view-assigned-courses" routerLinkActive="active">
      <fa-icon icon="book"></fa-icon>
      <span *ngIf="!isCollapsed">View Assigned Courses</span>
    </li>
    <li routerLink="/view-by-availability" routerLinkActive="active">
      <fa-icon icon="book"></fa-icon>
      <span *ngIf="!isCollapsed">View By Avialability</span>
    </li>
    <li routerLink="/view-by-course" routerLinkActive="active">
      <fa-icon icon="book"></fa-icon>
      <span *ngIf="!isCollapsed">View By Courses</span>
    </li>
    <li routerLink="/view-by-details" routerLinkActive="active">
      <fa-icon icon="book"></fa-icon>
      <span *ngIf="!isCollapsed">View by personal details</span>
    </li>
    <li routerLink="/delete-instructor" routerLinkActive="active">
      <fa-icon icon="book"></fa-icon>
      <span *ngIf="!isCollapsed">Delete Instructor</span>
    </li>
  </ul>
</div>
