/* Overall container styling */
.create-instructor-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #A4C6AC; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body {
  font-family: 'Balsamiq Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #A4C6AC;
}
h1 {
  text-align: center;
  color: #263339; /* Light green text */
  font-family: 'Balsamiq Sans', cursive;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #263339; /* Light green text */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #8cb390; /* Green border */
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f9f4; /* Softer green background */
  color: #263339; /* Dark green text */
}

input:focus {
  outline: none;
  border-color: #4caf50; /* Bright green on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}



/* Button styling */
button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: #263339; /* Green for main buttons */
  color: #C2DBC6;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}




